.box {
  width: 80vw;
  height: 300px;
  margin: 300px auto;
  background-color: #61dafb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  font-size: x-large;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}